@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px; }

/*variables sass*/
/*cambiar el color de las redes sociales del footer*/
/*Cambiar el color del header nav*/
/*color del logo y menus*/
/*color del hover logo y menus*/
/*cambiar el tamaño de todas las fotos de carteras mochilas bolsos*/
/* aplicacion del hover a los menus del header*/
/*hover en las fotos*/
/* BOTON WHATSAPP*/
.container-boton {
  background-color: #2e6329;
  border: 1px solid #fff;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 10px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite; }

.container-boton:hover {
  transform: scale(1.1);
  transition: 0.3s; }

.boton {
  width: 30px;
  transition: ease 1s; }

@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85); }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0); } }

/*HEADER*/
.navbar {
  height: 120px;
  font-size: 19px; }

.nav-header {
  background: linear-gradient(to bottom right, #3330ec, #e4d4d4); }

/*LOGO*/
@font-face {
  font-family: harrington;
  src: url(../HARRINGT.TTF); }

/*MENU LOGO*/
.logo {
  border: solid 2px black; }

.navbar-brand {
  background-image: linear-gradient(to top right, #010007, #010113);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: harrington;
  font-size: 45px;
  padding: 20px; }

.navbar-brand:hover {
  cursor: pointer;
  background-image: linear-gradient(to top right, #f0e9f0, #f0f0f3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

/*MENUS DEL HEADER*/
.navbar-nav a {
  font-family: harrington;
  font-size: 25px; }

.navbar-nav a:hover {
  cursor: pointer;
  background-image: linear-gradient(to top right, #f0e9f0, #f0f0f3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

/*REDES SOCIALES DEL HEADER*/
.redesheader {
  display: flex;
  justify-content: center;
  list-style-type: none; }

.redesheaderface a {
  padding: 30px; }

.redesheaderface a svg:hover {
  transform: translateY(-4px); }

.redesheaderinst a svg:hover {
  transform: translateY(-4px); }

/*LOGO*/
@media only screen and (min-width: 100px) and (max-width: 390px) {
  .titulo {
    padding-top: 20px; }
  .navbar-brand {
    background-image: linear-gradient(to top right, #010007, #010113);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: harrington;
    font-size: 30px; } }

@media only screen and (min-width: 390px) and (max-width: 490px) {
  .navbar-brand {
    font-size: 30px; } }

/*MENU DEL MENU HAMBURGUESA*/
@media only screen and (max-width: 991px) {
  .navbar-nav {
    margin: 60px;
    margin-left: 0;
    padding: 20px;
    align-items: center;
    width: 100%;
    background: linear-gradient(to bottom right, #3330ec, #e4d4d4);
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 10;
    transition: all 0.5s; }
  .redesheaderface a {
    display: none; }
  .redesheaderinst a {
    display: none; } }

/*MAIN*/
main {
  background-color: white;
  height: 100%;
  width: 100%; }

.txt-usu {
  margin-top: 30px;
  font-family: harrington;
  font-size: 50px;
  text-align: center; }

/*CARRUSEL*/
#carouselExampleFade {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background-color: #0f0f0f;
  height: 470px; }

.carousel-inner {
  width: 320px;
  height: 100%; }

/*FOTOS DE LA PAGINA PRINCIPAL*/
.img-principal {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; }

.cont-imagen {
  width: 300px;
  height: 300px;
  -webkit-perspective: 700; }

.img-new {
  width: 300px;
  height: 300px;
  border-radius: 10px; }

.carta {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 1s; }

.carta:hover {
  transform: rotatey(180deg); }

.lado {
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  /*se oculta el lado de atras*/
  position: absolute; }

.frente {
  border-radius: 10px; }

.atras {
  transform: rotatey(180deg);
  border-radius: 10px; }

.carta img {
  width: 100%;
  height: 100%; }

/*FOTOS DE CARTERAS MOCHILAS BOLSOS*/
#galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-around;
  padding: 5rem 3rem 5rem 3rem;
  /* FOTOS DESCRIPCION DE SECCION CARTERAS*/ }
  #galeria img:hover {
    box-shadow: #26394d 0px 20px 30px -10px;
    transform: scale(1.3);
    border: solid 1px black; }
  #galeria .contenedor1 figure {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    cursor: pointer; }
  #galeria .contenedor1 figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out; }
  #galeria .contenedor1 figure a .capa1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 103, 123, 0.3);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    font-size: 20px;
    color: white; }
  #galeria .contenedor1 figure a:hover > .capa1 {
    opacity: 1;
    visibility: visible; }
  #galeria .contenedor1 figure a:hover > img {
    transform: scale(1.3); }

/*TAMAÑO DE TODAS LAS FOTOS DE CARTERAS BOLSOS MOCHILAS*/
.imagenes {
  width: 250px;
  height: 250px;
  cursor: pointer; }

/*FORMULARIO DE CONTACTOS*/
#contenedor-formulario {
  padding: 20px;
  margin: 30px;
  background: white;
  border-radius: 10px;
  width: 85%;
  border: 1px solid black; }

#titulo-formulario {
  color: black; }

/*FOTTER Y REDES SOCIALES*/
footer {
  width: 100%;
  background-color: black;
  height: 220px;
  color: white;
  padding: 10px; }

.redessociales li {
  padding: 5px; }

.redessociales li a {
  color: white;
  text-decoration: none;
  font-size: 17px; }

.redessociales li .wsapp {
  color: white;
  font-size: 17px; }

.redessociales li a:hover {
  cursor: pointer;
  transform: translateY(-4px);
  -webkit-text-fill-color: #e70e0e; }

.page {
  text-align: center;
  font-family: harrington;
  font-size: 20px; }
