@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px; }

/*variables sass*/
/*cambiar el color de las redes sociales del footer*/
/*cambiar el color de fonde del MAIN*/
/*cambiar el tamaño de todas las fotos*/
/*hover en las fotos*/
/*EXTEND DEL FOMRULARIO DE CONTACTOS*/
/*@import"nav_color.scss";*/
/*@import"botones_color.css"*/
/* BOTON WHATSAPP*/
.container-boton {
  background-color: #2e6329;
  border: 1px solid #fff;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 25px;
  padding: 10px;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite; }

.container-boton:hover {
  transform: scale(1.1);
  transition: 0.3s; }

.boton {
  width: 30px;
  transition: ease 1s; }

@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85); }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0); } }

/*HEADER*/
.navbar {
  height: 120px;
  font-size: 19px; }

/*LOGO*/
@font-face {
  font-family: harrington;
  src: url(../HARRINGT.TTF); }

/*MENU*/
.titulo h1 a {
  font-family: harrington;
  font-size: 45px;
  padding: 20px; }

.navbar a {
  font-family: harrington;
  font-size: 25px; }

.navbar a:hover {
  cursor: pointer;
  transform: translateY(-4px);
  background-image: linear-gradient(to top right, #3b073b, #3737e6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

/*REDES SOCIALES DEL HEADER*/
.redesheader {
  display: flex;
  justify-content: center;
  list-style-type: none; }

.redesheaderface a {
  padding: 30px; }

/*MAIN*/
main {
  background-color: #f6f6f6;
  height: 100%;
  width: 100%; }

/*FOTOS*/
#galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-around;
  padding: 5rem 3rem 5rem 3rem; }
  #galeria img:hover {
    transform: translateY(-10px);
    box-shadow: #26394d 0px 20px 30px -10px; }

/*TAMAÑO DE TODAS LAS IMAGENES*/
.imagenes {
  width: 250px;
  height: 250px;
  /*border-radius: 30px;*/
  /*border:solid 3px black;*/ }

.slide {
  margin-top: 10px; }

/*CONTACTOS*/
.logoinsta {
  padding-left: 80vh; }

.logoinsta:hover {
  cursor: pointer;
  transform: translateY(-4px); }

.logoface {
  padding-left: 20px; }

.logoface:hover {
  cursor: pointer;
  transform: translateY(-4px); }

/*FORMULARIO*/
#contenedor-formulario {
  padding: 20px;
  margin: 30px;
  background: white;
  border-radius: 10px;
  width: 80%;
  border: 1px solid black; }

#titulo-formulario {
  color: black; }

/*FOTTER Y REDES SOCIALES*/
footer {
  width: 100%;
  background-color: black;
  height: 200px;
  color: white;
  padding: 10px; }

.redessociales li, .redessociales li .wsapp li {
  padding: 5px; }

.redessociales li a, .redessociales li .wsapp li a {
  color: white;
  text-decoration: none;
  font-size: 20px; }

.redessociales li .wsapp {
  color: white;
  font-size: 20px; }

.redessociales li a:hover {
  cursor: pointer;
  transform: translateY(-4px);
  -webkit-text-fill-color: #e70e0e; }

.page {
  text-align: center;
  font-family: harrington;
  font-size: 20px; }
