*{
     padding: 0px;
     margin: 0px;
     }
     


/*VARIABLES SASS/*

    /*cambiar color de fonde del main*/ 
$main:rgb(235, 243, 235);

/*cambiar color de las redes*/
$colorredes:rgb(241, 228, 228);





/*cambiar tamaño a los menus*/



/*cambiar tamaño de fotos
$tamaño: width 250px;
$tamaño: height: 250px;*/





/*BOTON DE WHATSAPP*/

body{
     background-color: rgba(175, 204, 172);
 }
 
 .container-boton{
     background-color: #2e6329;
     border: 1px solid #fff;
     position: fixed;
     z-index: 999;
     border-radius: 50%;
     bottom: 20px;
     right: 25px;
     padding: 25px;
     transition: ease 0.3s;
     animation: efecto 1.2s infinite;
 }
 
 .container-boton:hover{
     transform: scale(1.1);
     transition: 0.3s;
 }
 
 .boton{
     width: 80px;
     transition: ease 1s;
 }
 
 @keyframes efecto{
     0%{
         box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
     }
     100%{
         box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
     }
 }





     
     /*HEADER*/
     .navbar{
          
          height: 100px;
          font-size: 19px;
          
     }
     
     /*LOGO*/
     @font-face{
                font-family: harrington;
                src: url(../HARRINGT.TTF);
     }
     
     /*MENU*/
     .navbar h1 a{  
          font-family: harrington;
          font-size: 45px;
          margin: 20px;
          
     }
     
     
     .navbar  a{  
                  font-family: harrington;
                   font-size: 20px;
                   
     }
     
     
     
     
     .navbar a:hover{
          box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
     }


    
     
     main{

          background-color: $main;
          height: 100%;
          width: 100%;
     }



     
     /*FOTOS*/
     #galeria{
           display:flex;
           flex-wrap: wrap;
           gap: 60px;
           justify-content: space-around;
           padding: 5rem 3rem 5rem 3rem; 
           
     }
     
     
     #galeria img:hover{
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
     }

     .img-fluid{ 
                 width:250px;
                 height: 250px;
               
     }
     
     .slide{
            margin-top: 10px;
     }
     /*CONTACTOS*/
.logoinsta{
             
     padding-left: 80vh;
}
.logoface{
   padding-left: 20px;
}
     
     /*FORMULARIO*/
     
     
     #contenedor-formulario{
                            padding: 20px;
                           margin: 30px;
                            background:white;
                            border-radius: 10px;
                            width: 80%;
                            border:1px solid black;
                            
                    
     }
     
     #titulo-formulario{
                        color: black;
     }
     
     
     
     
     /*FOTTER Y REDES SOCIALES*/
     footer{
          width: 100%;
          background-color: black;
          height: 200px;
          color: white;
          padding: 10px;
     }
     
     
     
        .redessociales li{
                        padding: 5px;

                     a {
                         color: $colorredes;
                         text-decoration: none;
                         font-size: 20px;
                                    

                      } 


                      .wsapp{
                         color:$colorredes;
                         font-size: 20px;
                     }
               
                        
     }              
     
   
                                   
     
      .page{
            text-align: center;
            font-family: harrington;
            font-size: 20px;
      }