
* {
  padding: 0px;
  margin: 0px; }

/*variables sass*/

/*cambiar el color de las redes sociales del footer*/
$colorredessociales:white;

/*Cambiar el color del header nav*/
$colornav: linear-gradient(to bottom right,rgb(51, 48, 236) , rgb(228, 212, 212));

/*color del logo y menus*/
$colormenu:linear-gradient(to top right, rgb(1, 0, 7), rgb(1, 1, 19));

/*color del hover logo y menus*/
$colormenuhover:linear-gradient(to top right, rgb(240, 233, 240), rgb(240, 240, 243));


/*cambiar el tamaño de todas las fotos de carteras mochilas bolsos*/
$imgancho: 250px;
$imgalto:250px;


/* aplicacion del hover a los menus del header*/
@mixin hover {
  cursor: pointer;
  transform: translateY(-4px) ;
  background-image: $colormenuhover;
   -webkit-background-clip: text ;
   background-clip: text ;
   -webkit-text-fill-color:transparent;   
    
}


/*hover en las fotos*/
$hover_fotos:translateY(-10px);
$sombra_fotos: box-shadow #26394d 0px 20px 30px -10px;   



   /* BOTON WHATSAPP*/
   .container-boton{
     background-color: #2e6329;
     border: 1px solid #fff;
     position: fixed;
     z-index: 999;
     border-radius: 50%;
     bottom: 20px;
     right: 25px;
     padding: 10px;
     transition: ease 0.3s;
     animation: efecto 1.2s infinite;
   }
   
   .container-boton:hover{
     transform: scale(1.1);
     transition: 0.3s;
   }
   
   .boton{
     width: 30px;
     transition: ease 1s;
   }
   
   @keyframes efecto{
     0%{
         box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
     }
     100%{
         box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
     }
   }
   

   /*HEADER*/
   .navbar {
     height: 120px;
     font-size: 19px;
      
     
    }

    .nav-header{
         background:$colornav;
    }
   
   /*LOGO*/
   @font-face {
     font-family: harrington;
     src: url(../HARRINGT.TTF); }
   
   /*MENU LOGO*/

   .logo{
         border: solid 2px black;
   }
     .navbar-brand {
           background-image: $colormenu;
           background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color:transparent;
          font-family: harrington;
          font-size: 45px;
           padding: 20px; 
          }

      .navbar-brand:hover{      
       cursor: pointer;
      transform: translateY(-4px) ;
      background-image: $colormenuhover ;
      -webkit-background-clip: text ;
      background-clip: text  ;
     -webkit-text-fill-color:transparent ;
       }
      

       /*MENUS DEL HEADER*/
     .navbar-nav a {
     font-family: harrington;
     font-size: 25px;
     
      }
   
    .navbar-nav a:hover {
                 @include hover;
                          
      }

      @media only screen and (min-width:310px) and (max-width:390px){

         /*LOGO*/
        .navbar{
                 height: 120px;
                 
        }

        .navbar-brand {
           
          background-image: $colormenu;
          background-clip: text;
         -webkit-background-clip: text;
         -webkit-text-fill-color:transparent;
         font-family: harrington;
         font-size: 25px;

        }
   

      }


     @media only screen and (min-width:390px) and (max-width:490px){
      
       /*LOGO*/
        .navbar {
          height: 120px;
          font-size: 30px;
          
        
         }       
   
         .navbar-brand {
           
          background-image: $colormenu;
          background-clip: text;
         -webkit-background-clip: text;
         -webkit-text-fill-color:transparent;
         font-family: harrington;
         font-size: 33px;
          
     }


          .redesheaderface a{
                          display: none;
           }
           .redesheaderinst a{
                       display: none;
          }


    }



      /*MENU DEL MENU HAMBURGUESA*/
      @media only screen and (max-width:991px){

        .navbar-nav { 
                      
                      margin: 60px ;
                      margin-left: 0;
                    padding:20px ;
                    align-items: center;
                    width: 100%;
                    background:$colornav;
                    position: absolute ;
                    left: 0;
                    top: 60px;
                    z-index: 10;
                    transition: all 0.5s;
                                         
      }
      .redesheaderface a{
               display: none;
     }
     .redesheaderinst a{
            display: none;
     }


  }


/*REDES SOCIALES DEL HEADER*/
   .redesheader{
                 display: flex;
                 justify-content:center;
                 list-style-type: none;
                 
   }
   .redesheaderface a{
                 padding: 30px;         
   }
   .redesheaderface a svg:hover{
                 @include hover;
   }

   .redesheaderinst a svg:hover{
                 @include hover;
   }


   /*MAIN*/
   main {
     background-color: white;
     height: 100%;
     width: 100%;
 }


 .txt-usu{  
            margin-top: 30px;
            font-family: harrington;
           font-size: 50px;
           text-align: center;
 }
   
 /*CARRUSEL*/
 #carouselExampleFade{ 
                        display: flex;
                        justify-content: center;
                        padding-top: 50px;
                        background-color: rgb(15, 15, 15);
                        height: 450px;
                        
 }

 .carousel-inner{
                  width: 300px;
                  height: 350px;
 }

/*FOTOS DE LA PAGINA PRINCIPAL*/
 .img-principal{ 
              padding-top: 20px;
               display: flex;
               flex-wrap: wrap;
               justify-content: center;
               gap: 10px;         
              
 }

/*FOTOS DEL INDEX*/
 .img-new{
          width: 300px;
          height: 300px;
          border-radius: 10px;
 }
 

   /*FOTOS DE CARTERAS MOCHILAS BOLSOS*/
   #galeria {
     display: flex;
     flex-wrap: wrap;
     gap: 60px;
     justify-content: space-around;
     padding: 5rem 3rem 5rem 3rem; 
        & img:hover{
               transform:$hover_fotos;
               box-shadow: #26394d 0px 20px 30px -10px;  
     }
       
  }


   /*TAMAÑO DE TODAS LAS IMAGENES*/
   .imagenes {
     width: $imgancho;
     height: $imgalto;
     cursor: pointer;
     
    }
   
   .slide {
     margin-top: 10px; }
   
   
   /*FORMULARIO DE CONTACTOS*/
   #contenedor-formulario {
     padding: 20px;
     margin: 30px;
     background: white;
     border-radius: 10px;
     width: 85%;
     border: 1px solid black; }
   
   #titulo-formulario {
     color: black; }
   
   /*FOTTER Y REDES SOCIALES*/
   footer {
     width: 100%;
     background-color: black;
     height: 220px;
     color: white;
     padding: 10px; }
   
   .redessociales li {
     padding: 5px; 
}
     .redessociales li a {
       color: $colorredessociales;
       text-decoration: none;
       font-size: 15px;
       
      }
          .redessociales li .wsapp {
                         color: $colorredessociales;
                         font-size: 15px;
            }
   
    
       .redessociales li a:hover {
         cursor: pointer;
        transform: translateY(-4px);
        -webkit-text-fill-color:rgb(231, 14, 14);
         }
   
   .page {
     text-align: center;
     font-family: harrington;
     font-size: 20px;
     }

     
    