
* {
  padding: 0px;
  margin: 0px; }



/*variables sass*/

/*cambiar el color de las redes sociales del footer*/
$colorredessociales:rgb(250, 250, 250);


/*cambiar el color de fonde del MAIN*/
$maincolor:rgb(246, 246, 246);


/*cambiar el tamaño de todas las fotos*/
$imgancho: 250px;
$imgalto:250px;



/*hover en las fotos*/
$hover_fotos:translateY(-10px);
$sombra_fotos: box-shadow #26394d 0px 20px 30px -10px;   



/*EXTEND DEL FOMRULARIO DE CONTACTOS*/





/*@import"nav_color.scss";*/




/*@import"botones_color.css"*/







   
   
   /* BOTON WHATSAPP*/
  
   
   .container-boton{
     background-color: #2e6329;
     border: 1px solid #fff;
     position: fixed;
     z-index: 999;
     border-radius: 50%;
     bottom: 20px;
     right: 25px;
     padding: 10px;
     transition: ease 0.3s;
     animation: efecto 1.2s infinite;
   }
   
   .container-boton:hover{
     transform: scale(1.1);
     transition: 0.3s;
   }
   
   .boton{
     width: 30px;
     transition: ease 1s;
   }
   
   @keyframes efecto{
     0%{
         box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
     }
     100%{
         box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
     }
   }
   
   /*HEADER*/
   .navbar {
     height: 130px;
     font-size: 19px; }
   
   /*LOGO*/
   @font-face {
     font-family: harrington;
     src: url(../HARRINGT.TTF); }
   
   /*MENU*/
   .titulo h1 a {
       
     font-family: harrington;
     font-size: 45px;
     margin: 20px; }
   
     .titulo h1 a:hover{
       cursor: pointer;
       transform: translateY(-4px) ;
       
     }
   
   .navbar a {
     font-family: harrington;
     font-size: 25px;
     
   }
   
   .navbar a:hover {
     cursor: pointer;
    transform: translateY(-4px);/*se mueve hacia arriba cuando paso el mause*/
    background-image: linear-gradient(to top right, rgb(59, 7, 59), rgb(55, 55, 230));
     -webkit-background-clip: text;/*el color de fondo se pega al texto*/
     background-clip: text;/*para soportar diferentes versiones de navegadores*/
     -webkit-text-fill-color:transparent;/*las lineas de fondo son transparentes*/
     
   }

   
   
   /*MAIN*/
   main {
     background-color: $maincolor;
     height: 100%;
     width: 100%;
 }
   
   /*FOTOS*/
   #galeria {
     display: flex;
     flex-wrap: wrap;
     gap: 60px;
     justify-content: space-around;
     padding: 5rem 3rem 5rem 3rem; 
        & img:hover{
               transform:$hover_fotos;
               box-shadow: #26394d 0px 20px 30px -10px;  
     }
       
}


   /*TAMAÑO DE TODAS LAS IMAGENES*/
   .imagenes {
     width: $imgancho;
     height: $imgalto;
 }
   
   .slide {
     margin-top: 10px; }
   
   /*CONTACTOS*/
   .logoinsta {
     padding-left: 80vh;
     }

     .logoinsta:hover{
      cursor: pointer;
       transform: translateY(-4px) ;
       
     }

   .logoface {
     padding-left: 20px; 
    }
    .logoface:hover{
      cursor: pointer;
      transform: translateY(-4px) ;
      
    }
   
   /*FORMULARIO*/
   #contenedor-formulario {
     padding: 20px;
     margin: 30px;
     background: white;
     border-radius: 10px;
     width: 80%;
     border: 1px solid black; }
   
   #titulo-formulario {
     color: black; }
   
   /*FOTTER Y REDES SOCIALES*/
   footer {
     width: 100%;
     background-color: black;
     height: 200px;
     color: white;
     padding: 10px; }
   
   .redessociales li {
     padding: 5px; 
}
     .redessociales li a {
       color: $colorredessociales;
       text-decoration: none;
       font-size: 20px;
      }

          .redessociales li .wsapp {

             @extend .redessociales  ;
             color: $colorredessociales;
             font-size: 20px;
      }
   
   
       .redessociales li a:hover {
         cursor: pointer;
        transform: translateY(-4px);
        -webkit-text-fill-color:rgb(231, 14, 14);
        
       
       
       }
   
   .page {
     text-align: center;
     font-family: harrington;
     font-size: 20px; }
   